{"openapi":"3.1.0","info":{"title":"SOCIODEMOGRAFIA","version":"0.0.1","description":"API para busca de dados de Sociodemografia.\n            Para obter token de acesso verifique a documenta\u00e7\u00e3o em https:\/\/geobrain.com.br\/docs\/api#\/operations\/auth.auth\n        "},"servers":[{"url":"https:\/\/sociodemografia.geobrain.com.br\/public-api","description":"Production"}],"security":[{"http":[]}],"paths":{"\/v1\/sociodemografia\/populacao-domicilios":{"post":{"operationId":"socioDemografia.populacaoDomicilios","description":"Retorna dados de sociodemografia de Popula\u00e7\u00e3o e Dom\u00edcilios em formato GeoJSON.\nFormato GeoJSON (RFC 7946)","summary":"Popula\u00e7\u00e3o e Dom\u00edcilios","tags":["SocioDemografia"],"requestBody":{"content":{"application\/json":{"schema":{"type":"object","properties":{"poligonos":{"type":["array","null"],"description":"Geometrias no formato GeoJSON representando pol\u00edgonos para filtrar os dados.\nCada pol\u00edgono deve ser uma Feature do tipo Polygon Exemplo:\n{\n \"type\": \"Feature\",\n \"geometry\": {\n   \"type\": \"Polygon\",\n   \"coordinates\": [\n    [\n    [-46.625290, -23.533773],\n    [-46.625290, -23.543773],\n   [-46.615290, -23.543773],\n   [-46.615290, -23.533773],\n   [-46.625290, -23.533773]\n  ]\n ]\n}","items":{"type":"string"}},"cidades":{"type":"array","items":{"type":"object","properties":{"uf":{"type":"string"},"cidade":{"type":"string"}},"required":["uf","cidade"]}}},"required":["cidades"]}}}},"responses":{"200":{"description":"`PopulacaoDomiciliosResourceFeatureCollection`","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/PopulacaoDomiciliosResourceFeatureCollection"}}}},"403":{"$ref":"#\/components\/responses\/AuthorizationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/v1\/sociodemografia\/renda-consumo":{"post":{"operationId":"socioDemografia.rendaConsumo","description":"Retorna dados de sociodemografia de Renda e Consumo em formato GeoJSON.\n\nRetorna uma cole\u00e7\u00e3o de features geogr\u00e1ficas no formato GeoJSON (RFC 7946)","summary":"Renda e Consumo","tags":["SocioDemografia"],"requestBody":{"content":{"application\/json":{"schema":{"type":"object","properties":{"poligonos":{"type":["array","null"],"description":"Geometrias no formato GeoJSON representando pol\u00edgonos para filtrar os dados.\nCada pol\u00edgono deve ser uma Feature do tipo Polygon Exemplo:\n{\n \"type\": \"Feature\",\n \"geometry\": {\n   \"type\": \"Polygon\",\n   \"coordinates\": [\n    [\n    [-46.625290, -23.533773],\n    [-46.625290, -23.543773],\n   [-46.615290, -23.543773],\n   [-46.615290, -23.533773],\n   [-46.625290, -23.533773]\n  ]\n ]\n}","items":{"type":"string"}},"cidades":{"type":"array","items":{"type":"object","properties":{"uf":{"type":"string"},"cidade":{"type":"string"}},"required":["uf","cidade"]}}},"required":["cidades"]}}}},"responses":{"200":{"description":"`RendaConsumoResource`","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/RendaConsumoResource"}}}},"403":{"$ref":"#\/components\/responses\/AuthorizationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/v1\/sociodemografia\/expansao-urbana":{"post":{"operationId":"socioDemografia.expansaoUrbana","description":"Retorna dados de sociodemografia de Expans\u00e3o Urbana em formato GeoJSON.\n\nRetorna uma cole\u00e7\u00e3o de features geogr\u00e1ficas no formato GeoJSON (RFC 7946)","summary":"Expans\u00e3o Urbana","tags":["SocioDemografia"],"requestBody":{"content":{"application\/json":{"schema":{"type":"object","properties":{"poligonos":{"type":["array","null"],"description":"Geometrias no formato GeoJSON representando pol\u00edgonos para filtrar os dados.\nCada pol\u00edgono deve ser uma Feature do tipo Polygon Exemplo:\n{\n \"type\": \"Feature\",\n \"geometry\": {\n   \"type\": \"Polygon\",\n   \"coordinates\": [\n    [\n    [-46.625290, -23.533773],\n    [-46.625290, -23.543773],\n   [-46.615290, -23.543773],\n   [-46.615290, -23.533773],\n   [-46.625290, -23.533773]\n  ]\n ]\n}","items":{"type":"string"}},"cidades":{"type":"array","items":{"type":"object","properties":{"uf":{"type":"string"},"cidade":{"type":"string"}},"required":["uf","cidade"]}}},"required":["cidades"]}}}},"responses":{"200":{"description":"`ExpansaoUrbanaResource`","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ExpansaoUrbanaResource"}}}},"403":{"$ref":"#\/components\/responses\/AuthorizationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/v1\/sociodemografia\/area-urbanizada":{"post":{"operationId":"socioDemografia.areaUrbanizada","description":"Retorna dados de sociodemografia de \u00c1rea Urbanizada em formato GeoJSON.\n\nRetorna uma cole\u00e7\u00e3o de features geogr\u00e1ficas no formato GeoJSON (RFC 7946)","summary":"\u00c1rea Urbanizada","tags":["SocioDemografia"],"requestBody":{"content":{"application\/json":{"schema":{"type":"object","properties":{"poligonos":{"type":["array","null"],"description":"Geometrias no formato GeoJSON representando pol\u00edgonos para filtrar os dados.\nCada pol\u00edgono deve ser uma Feature do tipo Polygon Exemplo:\n{\n \"type\": \"Feature\",\n \"geometry\": {\n   \"type\": \"Polygon\",\n   \"coordinates\": [\n    [\n    [-46.625290, -23.533773],\n    [-46.625290, -23.543773],\n   [-46.615290, -23.543773],\n   [-46.615290, -23.533773],\n   [-46.625290, -23.533773]\n  ]\n ]\n}","items":{"type":"string"}},"cidades":{"type":"array","items":{"type":"object","properties":{"uf":{"type":"string"},"cidade":{"type":"string"}},"required":["uf","cidade"]}}},"required":["cidades"]}}}},"responses":{"200":{"description":"`AreaUrbanizadaResource`","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/AreaUrbanizadaResource"}}}},"403":{"$ref":"#\/components\/responses\/AuthorizationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/v1\/sociodemografia\/dutovias":{"post":{"operationId":"socioDemografia.dutovias","description":"Retorna dados de sociodemografia de Dutovias em formato GeoJSON.\n\nRetorna uma cole\u00e7\u00e3o de features geogr\u00e1ficas no formato GeoJSON (RFC 7946)","summary":"Dutovias","tags":["SocioDemografia"],"requestBody":{"content":{"application\/json":{"schema":{"type":"object","properties":{"poligonos":{"type":["array","null"],"description":"Geometrias no formato GeoJSON representando pol\u00edgonos para filtrar os dados.\nCada pol\u00edgono deve ser uma Feature do tipo Polygon Exemplo:\n{\n \"type\": \"Feature\",\n \"geometry\": {\n   \"type\": \"Polygon\",\n   \"coordinates\": [\n    [\n    [-46.625290, -23.533773],\n    [-46.625290, -23.543773],\n   [-46.615290, -23.543773],\n   [-46.615290, -23.533773],\n   [-46.625290, -23.533773]\n  ]\n ]\n}","items":{"type":"string"}},"cidades":{"type":"array","items":{"type":"object","properties":{"uf":{"type":"string"},"cidade":{"type":"string"}},"required":["uf","cidade"]}}},"required":["cidades"]}}}},"responses":{"200":{"description":"`DutoviasResource`","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/DutoviasResource"}}}},"403":{"$ref":"#\/components\/responses\/AuthorizationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/v1\/sociodemografia\/area-preservacao":{"post":{"operationId":"socioDemografia.areaPreservacao","description":"Retorna dados de sociodemografia de \u00c1rea de Preserva\u00e7\u00e3o em formato GeoJSON.\n\nRetorna uma cole\u00e7\u00e3o de features geogr\u00e1ficas no formato GeoJSON (RFC 7946)","summary":"\u00c1rea de Preserva\u00e7\u00e3o","tags":["SocioDemografia"],"requestBody":{"content":{"application\/json":{"schema":{"type":"object","properties":{"poligonos":{"type":["array","null"],"description":"Geometrias no formato GeoJSON representando pol\u00edgonos para filtrar os dados.\nCada pol\u00edgono deve ser uma Feature do tipo Polygon Exemplo:\n{\n \"type\": \"Feature\",\n \"geometry\": {\n   \"type\": \"Polygon\",\n   \"coordinates\": [\n    [\n    [-46.625290, -23.533773],\n    [-46.625290, -23.543773],\n   [-46.615290, -23.543773],\n   [-46.615290, -23.533773],\n   [-46.625290, -23.533773]\n  ]\n ]\n}","items":{"type":"string"}},"cidades":{"type":"array","items":{"type":"object","properties":{"uf":{"type":"string"},"cidade":{"type":"string"}},"required":["uf","cidade"]}}},"required":["cidades"]}}}},"responses":{"200":{"description":"`AreaPreseervacaoResource`","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/AreaPreseervacaoResource"}}}},"403":{"$ref":"#\/components\/responses\/AuthorizationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/v1\/sociodemografia\/vazios-urbanos":{"post":{"operationId":"socioDemografia.vaziosUrbanos","description":"Retorna dados de sociodemografia de Vazios Urbanos em formato GeoJSON.\n\nRetorna uma cole\u00e7\u00e3o de features geogr\u00e1ficas no formato GeoJSON (RFC 7946)","summary":"Vazios Urbanos","tags":["SocioDemografia"],"requestBody":{"content":{"application\/json":{"schema":{"type":"object","properties":{"poligonos":{"type":["array","null"],"description":"Geometrias no formato GeoJSON representando pol\u00edgonos para filtrar os dados.\nCada pol\u00edgono deve ser uma Feature do tipo Polygon Exemplo:\n{\n \"type\": \"Feature\",\n \"geometry\": {\n   \"type\": \"Polygon\",\n   \"coordinates\": [\n    [\n    [-46.625290, -23.533773],\n    [-46.625290, -23.543773],\n   [-46.615290, -23.543773],\n   [-46.615290, -23.533773],\n   [-46.625290, -23.533773]\n  ]\n ]\n}","items":{"type":"string"}},"cidades":{"type":"array","items":{"type":"object","properties":{"uf":{"type":"string"},"cidade":{"type":"string"}},"required":["uf","cidade"]}}},"required":["cidades"]}}}},"responses":{"200":{"description":"`VaziosUrbanosResource`","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/VaziosUrbanosResource"}}}},"403":{"$ref":"#\/components\/responses\/AuthorizationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/v1\/sociodemografia\/trabalhador":{"post":{"operationId":"socioDemografia.trabalhador","description":"Retorna dados de sociodemografia de Trabalhador em formato GeoJSON.\n\nRetorna uma cole\u00e7\u00e3o de features geogr\u00e1ficas no formato GeoJSON (RFC 7946)","summary":"Trabalhador","tags":["SocioDemografia"],"requestBody":{"content":{"application\/json":{"schema":{"type":"object","properties":{"poligonos":{"type":["array","null"],"description":"Geometrias no formato GeoJSON representando pol\u00edgonos para filtrar os dados.\nCada pol\u00edgono deve ser uma Feature do tipo Polygon Exemplo:\n{\n \"type\": \"Feature\",\n \"geometry\": {\n   \"type\": \"Polygon\",\n   \"coordinates\": [\n    [\n    [-46.625290, -23.533773],\n    [-46.625290, -23.543773],\n   [-46.615290, -23.543773],\n   [-46.615290, -23.533773],\n   [-46.625290, -23.533773]\n  ]\n ]\n}","items":{"type":"string"}},"cidades":{"type":"array","items":{"type":"object","properties":{"uf":{"type":"string"},"cidade":{"type":"string"}},"required":["uf","cidade"]}}},"required":["cidades"]}}}},"responses":{"200":{"description":"`TrabalhadorResource`","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/TrabalhadorResource"}}}},"403":{"$ref":"#\/components\/responses\/AuthorizationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/v1\/sociodemografia\/indicador-municipio":{"post":{"operationId":"socioDemografia.indicadorMunicipio","description":"Retorna dados de sociodemografia de Indicador Munic\u00edpio em formato GeoJSON.\n\nRetorna uma cole\u00e7\u00e3o de features geogr\u00e1ficas no formato GeoJSON (RFC 7946)","summary":"Indicador Munic\u00edpio","tags":["SocioDemografia"],"requestBody":{"content":{"application\/json":{"schema":{"type":"object","properties":{"poligonos":{"type":["array","null"],"description":"Geometrias no formato GeoJSON representando pol\u00edgonos para filtrar os dados.\nCada pol\u00edgono deve ser uma Feature do tipo Polygon Exemplo:\n{\n \"type\": \"Feature\",\n \"geometry\": {\n   \"type\": \"Polygon\",\n   \"coordinates\": [\n    [\n    [-46.625290, -23.533773],\n    [-46.625290, -23.543773],\n   [-46.615290, -23.543773],\n   [-46.615290, -23.533773],\n   [-46.625290, -23.533773]\n  ]\n ]\n}","items":{"type":"string"}},"cidades":{"type":"array","items":{"type":"object","properties":{"uf":{"type":"string"},"cidade":{"type":"string"}},"required":["uf","cidade"]}}},"required":["cidades"]}}}},"responses":{"200":{"description":"`IndicadorMunicipioResource`","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/IndicadorMunicipioResource"}}}},"403":{"$ref":"#\/components\/responses\/AuthorizationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/v1\/sociodemografia\/indice-propriedade":{"post":{"operationId":"socioDemografia.indicePropriedade","description":"Retorna dados de sociodemografia de \u00cdndice Propriedade em formato GeoJSON.\n\nRetorna uma cole\u00e7\u00e3o de features geogr\u00e1ficas no formato GeoJSON (RFC 7946)","summary":"\u00cdndice Propriedade","tags":["SocioDemografia"],"requestBody":{"content":{"application\/json":{"schema":{"type":"object","properties":{"poligonos":{"type":["array","null"],"description":"Geometrias no formato GeoJSON representando pol\u00edgonos para filtrar os dados.\nCada pol\u00edgono deve ser uma Feature do tipo Polygon Exemplo:\n{\n \"type\": \"Feature\",\n \"geometry\": {\n   \"type\": \"Polygon\",\n   \"coordinates\": [\n    [\n    [-46.625290, -23.533773],\n    [-46.625290, -23.543773],\n   [-46.615290, -23.543773],\n   [-46.615290, -23.533773],\n   [-46.625290, -23.533773]\n  ]\n ]\n}","items":{"type":"string"}},"cidades":{"type":"array","items":{"type":"object","properties":{"uf":{"type":"string"},"cidade":{"type":"string"}},"required":["uf","cidade"]}}},"required":["cidades"]}}}},"responses":{"200":{"description":"`IndicePropriedadeResource`","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/IndicePropriedadeResource"}}}},"403":{"$ref":"#\/components\/responses\/AuthorizationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/v1\/sociodemografia\/anos-disponiveis-eu-tr":{"post":{"operationId":"socioDemografia.getYearOptions","description":"Retorna as op\u00e7\u00f5es de anos dispon\u00edveis para as camadas de Expans\u00e3o Urbana e Trabalhador","summary":"Anos Dispon\u00edveis para Expans\u00e3o Urbana e Trabalhador","tags":["SocioDemografia"],"requestBody":{"content":{"application\/json":{"schema":{"type":"object","properties":{"cidades":{"type":"array","description":"Nome das cidades para filtrar os anos dispon\u00edveis","items":{"type":"string"},"minItems":1},"estados":{"type":"array","description":"Sigla do estado com no m\u00e1ximo 2 caracteres\nExemplo: SP, RJ, MG","items":{"type":"string"},"minItems":1}},"required":["cidades","estados"]}}}},"responses":{"200":{"description":"`YearOptionsResource`","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/YearOptionsResource"}},"required":["data"]}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}}},"components":{"securitySchemes":{"http":{"type":"http","description":"Autentica\u00e7\u00e3o via token JWT no cabe\u00e7alho Authorization.\n                        Para obter token de acesso verifique a documenta\u00e7\u00e3o em https:\/\/geobrain.com.br\/docs\/api#\/operations\/auth.auth","scheme":"bearer","bearerFormat":"jwt"}},"schemas":{"AreaPreseervacaoResource":{"type":"object","properties":{"type":{"type":"string","example":"FeatureCollection"},"features":{"type":"array","items":{"$ref":"#\/components\/schemas\/AreaPreservacaoFeature"}}},"required":["type","features"],"title":"AreaPreseervacaoResource"},"AreaPreservacaoFeature":{"type":"object","properties":{"type":{"type":"string","example":"Feature"},"geometry":{"type":"string"},"properties":{"type":"object","properties":{"sigla_uf":{"type":"string"},"nm_municipio":{"type":"string"},"tipo":{"type":"string"},"nome":{"type":"string"}},"required":["sigla_uf","nm_municipio","tipo","nome"]}},"required":["type","geometry","properties"],"title":"AreaPreservacaoFeature"},"AreaUrbanizadaFeature":{"type":"object","properties":{"type":{"type":"string","example":"Feature"},"geometry":{"type":"string"},"properties":{"type":"object","properties":{"sigla_uf":{"type":"string"},"nm_municipio":{"type":"string"},"ano":{"type":"string"},"area_total_km2":{"type":"string"}},"required":["sigla_uf","nm_municipio","ano","area_total_km2"]}},"required":["type","geometry","properties"],"title":"AreaUrbanizadaFeature"},"AreaUrbanizadaResource":{"type":"object","properties":{"type":{"type":"string","example":"FeatureCollection"},"features":{"type":"array","items":{"$ref":"#\/components\/schemas\/AreaUrbanizadaFeature"}}},"required":["type","features"],"title":"AreaUrbanizadaResource"},"DutoviasFeature":{"type":"object","properties":{"type":{"type":"string","example":"Feature"},"geometry":{"type":"string"},"properties":{"type":"object","properties":{"sigla_uf":{"type":"string"},"nm_municipio":{"type":"string"},"fonte":{"type":"string"},"nome_dutovia":{"type":"string"},"categoria":{"type":"string"},"distribuidora":{"type":"string"},"tipo_dutovia":{"type":"string"}},"required":["sigla_uf","nm_municipio","fonte","nome_dutovia","categoria","distribuidora","tipo_dutovia"]}},"required":["type","geometry","properties"],"title":"DutoviasFeature"},"DutoviasResource":{"type":"object","properties":{"type":{"type":"string","example":"FeatureCollection"},"features":{"type":"array","items":{"$ref":"#\/components\/schemas\/DutoviasFeature"}}},"required":["type","features"],"title":"DutoviasResource"},"ExpansaoUrbanaFeature":{"type":"object","properties":{"type":{"type":"string","example":"Feature"},"geometry":{"type":"object"},"properties":{"type":"object","properties":{"gid_uf":{"type":"string"},"sigla_uf":{"type":"string"},"gid_municipio":{"type":"string"},"nm_municipio":{"type":"string"},"ano":{"type":"string"},"area":{"type":"string"},"crescimento_percentual":{"type":"string"},"area_total_km2":{"type":"string"}},"required":["gid_uf","sigla_uf","gid_municipio","nm_municipio","ano","area","crescimento_percentual","area_total_km2"]}},"required":["type","geometry","properties"],"title":"ExpansaoUrbanaFeature"},"ExpansaoUrbanaResource":{"type":"object","properties":{"type":{"type":"string","example":"FeatureCollection"},"features":{"type":"array","items":{"$ref":"#\/components\/schemas\/ExpansaoUrbanaFeature"}}},"required":["type","features"],"title":"ExpansaoUrbanaResource"},"IndicadorMunicipioFeature":{"type":"object","properties":{"type":{"type":"string","example":"Feature"},"geometry":{"type":"string"},"properties":{"type":"object","properties":{"sigla_uf":{"type":"string"},"nm_municipio":{"type":"string"},"nr_populacao_censo2000":{"type":"string"},"nr_domicilios_censo2000":{"type":"string"},"nr_populacao_censo2010":{"type":"string"},"nr_domicilios_censo2010":{"type":"string"},"nr_populacao_censo2022":{"type":"string"},"nr_domicilios_censo2022":{"type":"string"},"area_km2":{"type":"string"},"pib_per_capita":{"type":"string"},"pib":{"type":"string"},"idhm":{"type":"string"},"idhm_educacao":{"type":"string"},"idhm_renda":{"type":"string"},"idhm_longevidade":{"type":"string"}},"required":["sigla_uf","nm_municipio","nr_populacao_censo2000","nr_domicilios_censo2000","nr_populacao_censo2010","nr_domicilios_censo2010","nr_populacao_censo2022","nr_domicilios_censo2022","area_km2","pib_per_capita","pib","idhm","idhm_educacao","idhm_renda","idhm_longevidade"]}},"required":["type","geometry","properties"],"title":"IndicadorMunicipioFeature"},"IndicadorMunicipioResource":{"type":"object","properties":{"type":{"type":"string","example":"FeatureCollection"},"features":{"type":"array","items":{"$ref":"#\/components\/schemas\/IndicadorMunicipioFeature"}}},"required":["type","features"],"title":"IndicadorMunicipioResource"},"IndicePropriedadeFeature":{"type":"object","properties":{"type":{"type":"string","example":"Feature"},"geometry":{"type":"string"},"properties":{"type":"object","properties":{"cd_setor":{"type":"string"},"sigla_uf":{"type":"string"},"gid_municipio":{"type":"string"},"nm_municipio":{"type":"string"},"tx_indice_propriedade":{"type":"string"},"domic_part_proprio_quitado_v006":{"type":"string"},"domic_part_proprio_em_aquisicao_v007":{"type":"string"},"domic_part_alugado_v008":{"type":"string"},"domic_part_cedido_por_empregador_v009":{"type":"string"},"domic_part_cedido_outro_v010":{"type":"string"},"domic_part_outra_condicao_v011":{"type":"string"}},"required":["cd_setor","sigla_uf","gid_municipio","nm_municipio","tx_indice_propriedade","domic_part_proprio_quitado_v006","domic_part_proprio_em_aquisicao_v007","domic_part_alugado_v008","domic_part_cedido_por_empregador_v009","domic_part_cedido_outro_v010","domic_part_outra_condicao_v011"]}},"required":["type","geometry","properties"],"title":"IndicePropriedadeFeature"},"IndicePropriedadeResource":{"type":"object","properties":{"type":{"type":"string","example":"FeatureCollection"},"features":{"type":"array","items":{"$ref":"#\/components\/schemas\/IndicePropriedadeFeature"}}},"required":["type","features"],"title":"IndicePropriedadeResource"},"PopulacaoDomiciliosFeature":{"type":"object","properties":{"type":{"type":"string","example":"Feature"},"geometry":{"type":"object"},"properties":{"type":"object","properties":{"cd_setor":{"type":"string"},"gid_uf":{"type":"string"},"gid_municipio":{"type":"string"},"nm_municipio":{"type":"string"},"sigla_uf":{"type":"string"},"nr_pessoas_2022_v0001":{"type":"string"},"nr_pessoas_proj_2025":{"type":"string"},"nr_populacao_0_4_anos_v01031":{"type":"string"},"nr_populacao_5_9_anos_v01032":{"type":"string"},"nr_populacao_10_14_anos_v01033":{"type":"string"},"nr_populacao_15_19_anos_v01034":{"type":"string"},"nr_populacao_20_24_anos_v01035":{"type":"string"},"nr_populacao_25_29_anos_v01036":{"type":"string"},"nr_populacao_30_39_anos_v01037":{"type":"string"},"nr_populacao_40_49_anos_v01038":{"type":"string"},"nr_populacao_50_59_anos_v01039":{"type":"string"},"nr_populacao_60_69_anos_v01040":{"type":"string"},"nr_populacao_70_anos_mais_v01041":{"type":"string"},"tx_pessoas_domicilios":{"type":"string"},"nr_domicilios_particulares_v0003":{"type":"string"},"nr_domicilios_particulares_ocupados_v0007":{"type":"string"},"nr_domicilios_particulares_vagos":{"type":"string"},"nr_dom_part_perm_ocupados_casa_v00047":{"type":"string"},"nr_dom_part_perm_ocupados_vila_cond_v00048":{"type":"string"},"nr_dom_part_perm_ocupados_apartamento_v00049":{"type":"string"},"area_km2":{"type":"string"},"nr_densidade_demografica_hab_km2":{"type":"string"},"taxa_domicilios_2010_2022":{"type":"string"},"classe_taxa_domicilios_2010_2022":{"type":"string"}},"required":["cd_setor","gid_uf","gid_municipio","nm_municipio","sigla_uf","nr_pessoas_2022_v0001","nr_pessoas_proj_2025","nr_populacao_0_4_anos_v01031","nr_populacao_5_9_anos_v01032","nr_populacao_10_14_anos_v01033","nr_populacao_15_19_anos_v01034","nr_populacao_20_24_anos_v01035","nr_populacao_25_29_anos_v01036","nr_populacao_30_39_anos_v01037","nr_populacao_40_49_anos_v01038","nr_populacao_50_59_anos_v01039","nr_populacao_60_69_anos_v01040","nr_populacao_70_anos_mais_v01041","tx_pessoas_domicilios","nr_domicilios_particulares_v0003","nr_domicilios_particulares_ocupados_v0007","nr_domicilios_particulares_vagos","nr_dom_part_perm_ocupados_casa_v00047","nr_dom_part_perm_ocupados_vila_cond_v00048","nr_dom_part_perm_ocupados_apartamento_v00049","area_km2","nr_densidade_demografica_hab_km2","taxa_domicilios_2010_2022","classe_taxa_domicilios_2010_2022"]}},"required":["type","geometry","properties"],"title":"PopulacaoDomiciliosFeature"},"PopulacaoDomiciliosResourceFeatureCollection":{"type":"object","properties":{"type":{"type":"string","example":"FeatureCollection"},"features":{"type":"array","items":{"$ref":"#\/components\/schemas\/PopulacaoDomiciliosFeature"}}},"required":["type","features"],"title":"PopulacaoDomiciliosResourceFeatureCollection"},"RendaConsumoFeature":{"type":"object","properties":{"type":{"type":"string","example":"Feature"},"geometry":{"type":"object"},"properties":{"type":"object","properties":{"ano_calculo_vl_potencial_consumo":{"type":"string"},"ano_pof_referencia":{"type":"string"},"cd_setor":{"type":"string"},"classe_renda_pof":{"type":"string"},"dt_upload":{"type":"string"},"faixa_renda_pof_2025":{"type":"string"},"gid_municipio":{"type":"string"},"nm_municipio":{"type":"string"},"nr_salario_minimo_mensal_por_domicilio":{"type":"string"},"rend_mensal_por_domicilio2025":{"type":"string"},"sigla_uf":{"type":"string"},"tx_alimentacao":{"type":"string"},"tx_alimentacao_bebidas":{"type":"string"},"tx_alimentacao_dentro":{"type":"string"},"tx_alimentacao_fora":{"type":"string"},"tx_artigos_limpeza":{"type":"string"},"tx_aumento_do_ativo":{"type":"string"},"tx_calcados":{"type":"string"},"tx_despesas_consumo":{"type":"string"},"tx_despesas_viagens":{"type":"string"},"tx_educacao":{"type":"string"},"tx_eletrodomesticos":{"type":"string"},"tx_gastos_medicamentos":{"type":"string"},"tx_habitacao":{"type":"string"},"tx_higiene_cuidados_pessoais":{"type":"string"},"tx_livros_material_escolar":{"type":"string"},"tx_material_construcao":{"type":"string"},"tx_matriculas_mensalidades":{"type":"string"},"tx_mobiliarios_artigos_lar":{"type":"string"},"tx_outras_despesas_saude":{"type":"string"},"tx_recreacao_e_cultura":{"type":"string"},"tx_saude":{"type":"string"},"tx_vestuario":{"type":"string"},"vl_alimentacao":{"type":"string"},"vl_alimentacao_bebidas":{"type":"string"},"vl_alimentacao_dentro":{"type":"string"},"vl_alimentacao_fora":{"type":"string"},"vl_artigos_limpeza":{"type":"string"},"vl_aumento_do_ativo":{"type":"string"},"vl_calcados":{"type":"string"},"vl_despesas_consumo":{"type":"string"},"vl_despesas_viagens":{"type":"string"},"vl_educacao":{"type":"string"},"vl_eletrodomesticos":{"type":"string"},"vl_gastos_medicamentos":{"type":"string"},"vl_habitacao":{"type":"string"},"vl_higiene_cuidados_pessoais":{"type":"string"},"vl_livros_material_escolar":{"type":"string"},"vl_material_construcao":{"type":"string"},"vl_matriculas_mensalidades":{"type":"string"},"vl_mobiliarios_artigos_lar":{"type":"string"},"vl_outras_despesas_saude":{"type":"string"},"vl_recreacao_e_cultura":{"type":"string"},"vl_saude":{"type":"string"},"vl_vestuario":{"type":"string"}},"required":["ano_calculo_vl_potencial_consumo","ano_pof_referencia","cd_setor","classe_renda_pof","dt_upload","faixa_renda_pof_2025","gid_municipio","nm_municipio","nr_salario_minimo_mensal_por_domicilio","rend_mensal_por_domicilio2025","sigla_uf","tx_alimentacao","tx_alimentacao_bebidas","tx_alimentacao_dentro","tx_alimentacao_fora","tx_artigos_limpeza","tx_aumento_do_ativo","tx_calcados","tx_despesas_consumo","tx_despesas_viagens","tx_educacao","tx_eletrodomesticos","tx_gastos_medicamentos","tx_habitacao","tx_higiene_cuidados_pessoais","tx_livros_material_escolar","tx_material_construcao","tx_matriculas_mensalidades","tx_mobiliarios_artigos_lar","tx_outras_despesas_saude","tx_recreacao_e_cultura","tx_saude","tx_vestuario","vl_alimentacao","vl_alimentacao_bebidas","vl_alimentacao_dentro","vl_alimentacao_fora","vl_artigos_limpeza","vl_aumento_do_ativo","vl_calcados","vl_despesas_consumo","vl_despesas_viagens","vl_educacao","vl_eletrodomesticos","vl_gastos_medicamentos","vl_habitacao","vl_higiene_cuidados_pessoais","vl_livros_material_escolar","vl_material_construcao","vl_matriculas_mensalidades","vl_mobiliarios_artigos_lar","vl_outras_despesas_saude","vl_recreacao_e_cultura","vl_saude","vl_vestuario"]}},"required":["type","geometry","properties"],"title":"RendaConsumoFeature"},"RendaConsumoResource":{"type":"object","properties":{"type":{"type":"string","example":"FeatureCollection"},"features":{"type":"array","items":{"$ref":"#\/components\/schemas\/RendaConsumoFeature"}}},"required":["type","features"],"title":"RendaConsumoResource"},"TrabalhadorFeature":{"type":"object","properties":{"type":{"type":"string","example":"Feature"},"geometry":{"type":"string"},"properties":{"type":"object","properties":{"administracao_publica":{"type":"string"},"agricultura":{"type":"string"},"agua_esgoto_residuos":{"type":"string"},"alojamento_alimentacao":{"type":"string"},"ano":{"type":"string"},"artes_recreacao":{"type":"string"},"atividades_administrativas":{"type":"string"},"atividades_financeiras":{"type":"string"},"atividades_imobiliarias":{"type":"string"},"atividades_profissionais_cien_tec":{"type":"string"},"comercio_veiculos":{"type":"string"},"construcao":{"type":"string"},"educacao":{"type":"string"},"eletricidade_gas":{"type":"string"},"geometry":{"type":"string"},"gid_municipio":{"type":"string"},"gid_uf":{"type":"string"},"industrias_extrativas":{"type":"string"},"industrias_transformacao":{"type":"string"},"informacao_comunicacao":{"type":"string"},"nm_municipio":{"type":"string"},"org_internacionais":{"type":"string"},"outros":{"type":"string"},"saude_servicos_sociais":{"type":"string"},"servicos_domesticos":{"type":"string"},"sigla_uf":{"type":"string"},"taxa_administracao_publica":{"type":"string"},"taxa_agricultura":{"type":"string"},"taxa_agua_esgoto_residuos":{"type":"string"},"taxa_alojamento_alimentacao":{"type":"string"},"taxa_artes_recreacao":{"type":"string"},"taxa_atividades_administrativas":{"type":"string"},"taxa_atividades_financeiras":{"type":"string"},"taxa_atividades_imobiliarias":{"type":"string"},"taxa_atividades_profissionais_cien_tec":{"type":"string"},"taxa_comercio_veiculos":{"type":"string"},"taxa_construcao":{"type":"string"},"taxa_educacao":{"type":"string"},"taxa_eletrecidade_gas":{"type":"string"},"taxa_industrias_extrativas":{"type":"string"},"taxa_industrias_transformacao":{"type":"string"},"taxa_informacao_comunicacao":{"type":"string"},"taxa_org_internacionais":{"type":"string"},"taxa_outros":{"type":"string"},"taxa_saude_servicos_sociais":{"type":"string"},"taxa_servicos_domesticos":{"type":"string"},"taxa_transporte_armazenagem":{"type":"string"},"total":{"type":"string"},"transporte_armazenagem":{"type":"string"}},"required":["administracao_publica","agricultura","agua_esgoto_residuos","alojamento_alimentacao","ano","artes_recreacao","atividades_administrativas","atividades_financeiras","atividades_imobiliarias","atividades_profissionais_cien_tec","comercio_veiculos","construcao","educacao","eletricidade_gas","geometry","gid_municipio","gid_uf","industrias_extrativas","industrias_transformacao","informacao_comunicacao","nm_municipio","org_internacionais","outros","saude_servicos_sociais","servicos_domesticos","sigla_uf","taxa_administracao_publica","taxa_agricultura","taxa_agua_esgoto_residuos","taxa_alojamento_alimentacao","taxa_artes_recreacao","taxa_atividades_administrativas","taxa_atividades_financeiras","taxa_atividades_imobiliarias","taxa_atividades_profissionais_cien_tec","taxa_comercio_veiculos","taxa_construcao","taxa_educacao","taxa_eletrecidade_gas","taxa_industrias_extrativas","taxa_industrias_transformacao","taxa_informacao_comunicacao","taxa_org_internacionais","taxa_outros","taxa_saude_servicos_sociais","taxa_servicos_domesticos","taxa_transporte_armazenagem","total","transporte_armazenagem"]}},"required":["type","geometry","properties"],"title":"TrabalhadorFeature"},"TrabalhadorResource":{"type":"object","properties":{"type":{"type":"string","example":"FeatureCollection"},"features":{"type":"array","items":{"$ref":"#\/components\/schemas\/TrabalhadorFeature"}}},"required":["type","features"],"title":"TrabalhadorResource"},"VazioUrbanoFeature":{"type":"object","properties":{"type":{"type":"string","example":"Feature"},"geometry":{"type":"string"},"properties":{"type":"object","properties":{"sigla_uf":{"type":"string"},"gid_municipio":{"type":"string"},"nm_municipio":{"type":"string"},"area_km2":{"type":"string"}},"required":["sigla_uf","gid_municipio","nm_municipio","area_km2"]}},"required":["type","geometry","properties"],"title":"VazioUrbanoFeature"},"VaziosUrbanosResource":{"type":"object","properties":{"type":{"type":"string","example":"FeatureCollection"},"features":{"type":"array","items":{"$ref":"#\/components\/schemas\/VazioUrbanoFeature"}}},"required":["type","features"],"title":"VaziosUrbanosResource"},"YearOptionsResource":{"type":"object","properties":{"expansao_urbana":{"type":"array","items":{"type":"integer"}},"trabalhador":{"type":"array","items":{"type":"integer"}}},"required":["expansao_urbana","trabalhador"],"title":"YearOptionsResource"}},"responses":{"ValidationException":{"description":"Validation error","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Errors overview."},"errors":{"type":"object","description":"A detailed description of each field that failed validation.","additionalProperties":{"type":"array","items":{"type":"string"}}}},"required":["message","errors"]}}}},"AuthorizationException":{"description":"Authorization error","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}}}}}